@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf otf svg) {
  $src: null;

  $extmods: (eot: "?",
    svg: "#" + str-replace($name, " ", "_"));

  $formats: (otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)),
      comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@mixin mobile {
  @media (max-width: 767px) { @content; }
}
@mixin tablet {
  @media (min-width: 768px) and (max-width: 1023px) { @content; }
}
@mixin desktop {
  @media (max-width: 1024px) { @content; }
}