.bottom{
	display: flex;
	& > div:first-child{
		flex: 0 0 calc(2/6 * 100%);
	}
	& > div{
		border-right: 2px solid rgba($color: #fff, $alpha: 0.1);
		height: 100%;
		padding: 20px 20px 0;
		flex: 0 0 calc(1/6 * 100%);
	}
}

