.tabs{
	text-transform: uppercase;
	display: flex;
	color: gray;

	&__tab{
		text-align: center;
		padding-bottom: 10px;
		transition: color .3s;
		cursor: pointer;

		&:hover{
			color:#bbb;
		}

		&--active{
			color: #fff;
		}

		&--active:hover{
			color: #fff;
		}
	}
}

